@import "../../../styles/Variables.scss";
$buttonWidth: 35px;
.select {
    width: 100%;
    margin-bottom: 5px;
    input {
        width: calc(100% - #{$buttonWidth} - 7px);
        padding: 5px;
        font-size: 18px;
        padding-right: 33px;
    }
    &__field {
        position: relative;
    }
    &__toggle-button {
        width: $buttonWidth;
        height: 100%;
        position: absolute;
        right: 0px;
        bottom: 0;
    }
    &__choice {
        position: absolute;
        z-index: 10;
        width: calc(100% - 2px);
        border: 0.5px solid #000;
        border-top: none;
        height: 160px;
        overflow: auto;
        &_none {
            height: 0;
        }
        &_hidden {
            display: none;
        }
        &_one {
            height: 32px;
        }
        &_two {
            height: 64px;
        }
        &_three {
            height: 96px;
        }
        &_four {
            height: 128px;
        }
    }
    &__line {
        padding-right: 5px !important;
        padding: 5px;
        font-size: 18px;
        padding-right: 33px;
        background-color: #6b6b6b;
        color: #fff;
        cursor: pointer;
        &:hover {
            background-color: $hover-background-color;
            color: #000;
        }
        &_blank {
            height: 22px;
        }
    }
}