@import "../../styles/Variables.scss";
.list-item {
    &_selected {
        background-color: rgb(107, 107, 107);
        color: #fff;
        .list-item__visibility-toggler-button {
            border: 1px solid #fff;
        }
    }
    width: calc(100% - 3px);
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
    &__main-info {
        display: flex;
        justify-content: space-between;
    }
    &__visibility-toggler {
        padding-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-button {
            &:hover {
                background-color: $hover-background-color;
            }
            cursor: pointer;
            border: 1px solid black;
            border-radius: 5px;
            width: 30px;
            height: 40px;
            max-height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__container {
        width: calc(100% - 37px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__additional-info {
        padding: 5px;
        display: none;
    }
    .fa-chevron-down {
        display: inline-block;
    }
    .fa-chevron-up {
        display: none;
    }
    &_open {
        .list-item__main-info {
            border-bottom: 1px solid black;
        }
        .list-item__additional-info {
            display: block;
        }
        .fa-chevron-down {
            display: none !important;
        }
        .fa-chevron-up {
            display: inline-block !important;
        }
    }
}

@media all and (min-width: 800px) {
    .list-item {
        margin-bottom: 10px;
        cursor: pointer;
        &__visibility-toggler {
            &-button {
                width: 90px;
                height: 40px;
            }
        }
        &__container {
            width: calc(100% - 97px);
            max-height: 50px;
        }
    }
}